tr.selected {
	background: lightblue;
}
tr {
	cursor: pointer;
}

.background1{background: gray;}

#error {
	color: red;
}

#success {
	color: green;	
}

.buton{width: 30px;height: 30px;align-content: center;}



.right{text-align: right;}

.center {
  margin-left: 20%;
  margin-right: 20%;
}
td {
	font-size: 140%; color: blue;width:auto;
}

.okvir{border:solid;color:black;}

h1{
	color:blue;
}
	